
* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-title-div{
    background-color: #343a40;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}


.page-title {
    color: #fff;
    margin: 0;
}

.recipes-list {
    margin-top: 30px;
    width: 80%;
    max-width: 700px;
}

.recipes-list ul {
    list-style: none;
    padding: 0;
}

.recipes-list li {
    margin: 15px 0;
}

.recipes-list a {
    text-decoration: none;
    color: white;
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.3); /* Added background for text readability */
    transition: background-color 0.3s, box-shadow 0.3s;
}

.recipes-list a:hover {
    border-radius: 0px;
    background-color: #e9ecef;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.recipes-list div {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.biryani-list-item{
    background-image: url(../images/shreyak-singh-0j4bisyPo3M-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pasta-list-item{
    background-image: url(../images/ben-lei-flFd8L7_B3g-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.pizza-list-item{
    background-image: url(../images/saundarya-srinivasan-60nzTP7_hMQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.biryani-item, .pasta-item, .pizza-item{
    text-align: center;
    max-height: 400px;
    padding: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 2%;
    text-shadow: 1px 1px 8px black;
    font-weight: bold;
    font-size: 2rem;

}